.container {
    display: flex;
    border: 2px solid #333;
    margin-bottom: 25px;
    padding: 10px;
    height: 200px; 
    background: #f5f5f5;
}

/* Box styles */
.box {
    width: 60px;
    background: steelblue;
    color: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 5px;
}



/* Different align-items values */
.flex-start {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.stretch {
    align-items: stretch;
}

.baseline {
    align-items: baseline;
} 