.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;            /* Equal space between items */
    align-items: center; 
    
    height: 200px;
    padding: 10px;
    border: 2px solid #444;
    background: #f5f5f5;
}

.box {
    width: 60px;
    height: 60px;
    background: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 6px;
} 