.container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.box {
    width: 50px;
    height: 50px;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid #000;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}  