.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    height: 300px;
    background: #f0f0f0;
    border: 2px solid #444;
}

.box {
    width: 70px;
    height: 50px;
    background: mediumseagreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 6px;
} 
